
/* css 언어설정 */
@charset "utf-8";

/* 스킵 내비게이션 */
#skip{
    position: relative;
}
#skip a{
    /* 절대적인 위치 */
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    background: #333;
    color: #fff;
    line-height: 30px;
    width: 150px;
    text-align: center;
    font-size: 14px;
}
/* //스킵네비게이션 */


/* focus는 마우스가 탭됬을때 */
#skip a:active, #skip a:focus{
    top:0px;
}

/* 레이아웃 */
#header{
    height: 325px;
    /* repeat-x x축으로 반복 */
    background: url(img/header_bg.jpg) center top repeat-x;
}
#footer{
    border-top: 1px solid #eee;
}

/* 컨텐츠 레이아웃 */
#cont_nav { background-color: #f6fdff; display: none;}
#cont_tit { background-color: #EAF7FD;}
#cont_ban { background-color: #dceff7;}
#cont_cont { background-color: #f6fdff;}

/* 컨테이너 */
.container{
    width: 990px;
    margin: 0 auto;
    height: inherit;
}
/* //컨테이너 */


/* 헤더 */
.header .header-menu{
    text-align: right;
    font-weight: 600;
}
.header .header-menu a{
    color:#fff;
    padding: 10px 0px 10px 13px;
    /* a태그는 inline 구조라 위아래 padding이 안먹힘 따라서 
    inline-block 구조로 해줘야함 */
    display: inline-block;
}
.header .header-menu a:hover{
    color: #666;
}
.header .header-tit{
    text-align: center;
}
.header .header-tit h1{
    background-color: #4aa8d4;
    font-size: 28px;
    padding: 5px 20px 6px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.header .header-tit a{
    display: inline-block;
    background-color: #2698cb;
    font-size: 40px;
    color:#fff;
    padding: 0 5px;
    margin-top: -5px;
    font-family: 'Nanum Brush Script', cursive;
}
.header .header-icon{
    text-align: center;
    margin-top: 30px;
}
.header .header-icon a{
    width: 60px;
    height: 60px;
    background: url(img/icon.png);
    display: inline-block;
    margin: 0 3px;
}
.header .header-icon a.icon1{
    background-position: 0 0;
}
.header .header-icon a.icon2{
    background-position: 0 -60px;
}
.header .header-icon a.icon3{
    background-position: 0 -120px;
}
.header .header-icon a.icon4{
    background-position: 0 -180px;
}
.header .header-icon a.icon1:hover{
    background-position: -60px 0;
}
.header .header-icon a.icon2:hover{
    background-position: -60px -60px;
}
.header .header-icon a.icon3:hover{
    background-position: -60px -120px;
}
.header .header-icon a.icon4:hover{
    background-position: -60px -180px;
}
/* //헤더 */


/* 전체 메뉴*/

/* float: left로 인한 영역깨짐(height:0) 방지법
    1. 깨지는 영역에 똑같이 float:left를 사용(비추) 왜? 모든 영역에 float 사용해야 됨
    2. float의 성질을 차단하는 clear:both; 를 사용한다. (X) 왜? 어떤 영역이 깨졌는지 찾기 어려움
    3. float을 사용한 상위 박스한테 overflow:hidden을 사용(O) 현재 수준에 맞음
    4. clearfix를 사용 (O) 가장 좋은 방법
*/
.nav{
    overflow: hidden;
    padding: 30px 0;
}
.nav > div {
    float: left;
    width: 40%;
}
/*last-child는 ie9부터 사용 가능*/
.nav > div:last-child{
    width: 20%;
}
.nav > div h3{
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
    font-weight: bold;
}
.nav > div ol{
    overflow: hidden;
}
.nav > div ol li{
    float: left;
    width: 50%;
}
.nav > div.last ol li{
    width: 100%;
}
.nav > div ol li a:hover{
    text-decoration: underline;
}
/* //전체 매뉴 */


/* 타이틀 */
.tit{
    position: relative;
    /* 자식 태그의 포지션 absoulte는 포지션 relative속성을 준 부모 태그가 기준점이 된다. */
    
}
.tit h2{
    font-size: 40px;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;  /* letter-spacing: 글자간의 간격 */
    color: #2c94c4;
    font-family: 'Nanum Brush Script', cursive;
}
.tit .btn{
    position: absolute;
    top: 5px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(img/icon.png) no-repeat 0 -600px;
}
.tit .btn.on{
    background-position: 0 -660px;
}
/* //타이틀 */


/* 배너 */
 /* .ban{
    position: relative;
    padding: 24px 0 20px;
}
.ban a.prev {
    left: -80px;
    position: absolute;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(img/icon.png) no-repeat -150px 0;
}
.ban a.prev:hover{
    background-position: -193px 0;
}
.ban a.next{
    right: -80px;
    position: absolute;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(img/icon.png) no-repeat -150px -43px;
}
.ban a.next:hover{
    background-position: -193px -43px;
}
.ban ul{
    overflow: hidden;
}
.ban ul li{
    float: left;
    width: 330px;

}
.ban ul li.ban_img1{
    text-align: left;
}
.ban ul li.ban_img2{
    text-align: center;
}
.ban ul li.ban_img3{
    text-align: right;
}
.ban ul li img{
    border: 4px solid #dcdcdc;
}
.ban ul li img:hover{
    border-color: #98bcdc;
} */

/* //배너 */

/* 슬릭배너 */
.ban{
    position: relative;
    padding: 24px 0 40px;
}
.ban .slick-prev{
    left: -80px;
    position: absolute;
    top: 80px;
    width: 43px;
    height: 43px;
    background: url(img/icon.png) no-repeat -150px 0;
    /* 텍스트 css로 안보이게 하기 text-indent: -9999px */
    text-indent: -9999px;
}
.ban .slick-next{
    right: -80px;
    position: absolute;
    top: 80px;
    width: 43px;
    height: 43px;
    background: url(img/icon.png) no-repeat -150px -43px;
    text-indent: -9999px;
}
.ban .slick-prev:hover{
    background-position: -193px 0;
}
.ban .slick-next:hover{
    background-position: -193px -43px;
}
.ban img {
    border: 4px solid #dcdcdc;
}
.ban img:hover{
    border-color: #98bcdc;
}
.ban .slick-slide{
    margin: 10px;
}
.ban .slick-dots{
    position: absolute;
    bottom: 15px;
    display: block;
    width: 100%;
    text-align: center;
}
.ban .slick-dots li{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
}
.ban .slick-dots li button{
    font-size: 0;
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #5dbfeb;
    border-radius: 50%;
}
.ban .slick-dots li.slick-active button{
    background: #2b91c8;
}
/* //슬릭배너 */

/* 컨텐츠 */
.cont{
    overflow: hidden;
    padding-top : 30px;
}
.cont .column {
    width: 289px;
    height: 363px;
    float: left;
    margin: 0 30px 30px 0;
    padding-right: 30px;
    position: relative;
}
.cont .col1{
    border-right: 1px solid #c8c8c8;
}
.cont .col2{
    border-right: 1px solid #c8c8c8;
}
.cont .col3{
    margin-right: 0;
    padding-right: 0;
}
.cont .col4{
    border-right: 1px solid #c8c8c8;
}
.cont .col5{
    border-right: 1px solid #c8c8c8;
}
.cont .col6{
    margin-right: 0;
    padding-right: 0;
}
.cont .column .ico_img{
    display: block;
    width: 60px;
    height: 60px;
    background: url(img/icon.png);
    position: absolute;
    left: 0;
    top: 0;
}
.cont .column .ico_title{
    padding-left: 70px;
    font-size: 16px;
    color: #2c94c4;
    font-weight: bold;
}
.cont .column .ico_desc{
    padding-left: 70px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.cont .col1 .ico_img{
    background-position: 0px -240px;
}
.cont .col2 .ico_img{
    background-position: 0px -300px;
}
.cont .col3 .ico_img{
    background-position: 0px -360px;
}
.cont .col4 .ico_img{
    background-position: 0px -420px;
}
.cont .col5 .ico_img{
    background-position: 0px -480px;
}
.cont .col6 .ico_img{
    background-position: 0px -540px;
}
.cont .col1 .ico_img:hover{
    background-position: -60px -240px;
}
.cont .col2 .ico_img:hover{
    background-position: -60px -300px;
}
.cont .col3 .ico_img:hover{
    background-position: -60px -360px;
}
.cont .col4 .ico_img:hover{
    background-position: -60px -420px;
}
.cont .col5 .ico_img:hover{
    background-position: -60px -480px;
}
.cont .col6 .ico_img:hover{
    background-position: -60px -540px;
}
/* //컨텐츠 */


/* 게시판 */
.notice{
    position: relative;
}
.notice h4 {
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}
.notice ul li {
    /* li 한줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* li앞에 점 만들기 */
    background: url(img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
}
.notice ul li a {
    font-size: 12px;
}
.notice a.more{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(img/icon.png) -150px -90px;
    width: 17px;
    height: 17px;
}
/* //게시판1 */

/* 게시판2 */
.notice2 {
    position: relative;
    margin-top: 15px;
}
.notice2 h4{
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}
.notice2 li{
    overflow: hidden;
    background: url(img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
}
.notice2 li a{
    font-size: 12px;
    float: left;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice2 li span{
    float: right;
    width: 30%;
    text-align: right;
}
.notice2 a.more{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(img/icon.png) -150px -90px;
    width: 17px;
    height: 17px;
}
/* //게시판2 */

/* 게시판3 */
.notice3{
    position: relative;
}
.notice3 h4{
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}

.notice3 li{
    position: relative;
    padding: 8px 0 14px 60px;
}

.notice3 li a img{
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #0093bd;
}
.notice3 li a strong{
    display: block;
    /* 한 줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice3 li a span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.notice3 a.more{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(img/icon.png) -150px -90px;
    width: 17px;
    height: 17px;
}
/* //게시판3 */

/* 마우스 오버 효과1 */
.notice_hover h4{
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}
.notice_hover ul {
    overflow: hidden;
}
.notice_hover li {
    float: left;
    width: 93px;
    margin-right: 5px;
    text-align: center;
}
.notice_hover li:last-child{
    margin-right: 0;
}
.notice_hover li a span{
    position: relative;
    display: block;
    width: 93px;
    height: 93px;
    line-height: 93px;
}
.notice_hover li a span img{
    width: 100%;
}
.notice_hover li a span em {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    /* 호버 효과 줄때 visibility: hidden, visible 이용 */
    visibility: hidden;
}
.notice_hover li a span:hover em{
    visibility: visible;
}
.notice_hover li a strong{
    display: inline-block;
    padding-top: 3px;
    font-size: 12px;
}

/* //마우스 오버 효과1 */

/* 
콘텐츠 요소를 보이지 않게 하는 방법
    1. display: none <-> display: block (영역이 사라짐)
    2. visibility : hidden <-> visibility : visible; (영역 유지)
    3. opacity: 0 <-> opacity: 1; (영역 유지)
    4. width: 0, height: 0, overflow:hidden; 
*/

/* tap-menu */

.tab-menu{
    position: relative;
    border: 1px solid #ccc;
    padding: 8px;
    height: 105px;
}
.tab-menu ul{
    overflow: hidden;
    border-bottom:  1px solid #ccc;
}
.tab-menu ul li{
    float: left;
    border: 1px solid #ccc;

    /* 겹치는 border을 한 줄로 보이게 하는 방법 */
    margin-right: -1px;
    margin-bottom: -1px;
    
}
.tab-menu ul li a{
    display: block;
    padding: 5px 10px;
}

.tab-menu ul li ul{
    position: absolute;
    left: 0;
    top: 48px;
    width: 270px;
    border: 0;
}
.tab-menu ul li ul li{
    float: none;
    border: 0;
    background:url(img/dot.gif) no-repeat 9px 8px;
    padding-left: 18px;
}
.tab-menu ul li ul li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 0 0 3px 0;
}

.tab-menu ul li ul li a:hover{
    color: #390;
}

.tab-menu ul li.active{
    background: #2c94c4;
}
.tab-menu ul li.active a{
    color: #333;
}

/* 게시판4 */
.notice4{
    position: relative;
    padding-top: 10px
}
.notice4 ul{
    float: left;
    border: 1px solid #ccc;
}
.notice4 ul li h4{
    font-size: 14px;
    color: #0093bd;
    padding-top: 3px;
    font-weight: bold;
    padding: 8px 10px;
}
.notice4 ul li h4 em{
    color : #cf3292
}
.notice4 ul li h4 span{
    float: right;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
}
.notice4 ul li ul{
    padding : 8px 3px;
    margin: 0 -1px -1px -1px;
}
.notice4 ul li ul li{
    float: none;
    border: 0;
    background:url(img/dot.gif) no-repeat 9px 8px;
    padding: 0 0 3px 18px;
}
.notice4 ul li ul li a{
    font-size: 12px;
    float: left;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice4 ul li ul li span{
    padding-left: 15px;
    width: 35%;
}

/* //게시판4 */

/* 갤러리 */
.gallery{
    border: 1px solid #ccc;
    position: relative;
    height: 255px;
    overflow: hidden;
}
.gallery h4{
    font-size: 14px;
    color: #0093bd;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 8px 11px;
    font-weight: bold;
}
.gallery .gallery-btn{
    position: absolute;
    right: 5px;
    top: 7px;

}
.gallery .gallery-btn ul{
    overflow: hidden;
}
.gallery .gallery-btn li{
    float: left;
    margin: 1px 2px;
}
.gallery .gallery-btn li a{
    display: block;
    width: 23px;
    height: 23px;
    background: url(img/icon.png) no-repeat;
}
.gallery .gallery-btn li.gb-icon1 a{
    background-position: -150px -120px;
}
.gallery .gallery-btn li.gb-icon2 a{
    background-position: -150px -143px;
}
.gallery .gallery-btn li.gb-icon3 a{
    background-position: -150px -166px;
}
.gallery .gallery-btn li.gb-icon4 a{
    background-position: -150px -189px;
}
.gallery .gallery-btn li.gb-icon1 a:hover{
    background-position: -173px -120px;
}
.gallery .gallery-btn li.gb-icon2 a:hover{
    background-position: -173px -143px;
}
.gallery .gallery-btn li.gb-icon3 a:hover{
    background-position: -173px -166px;
}
.gallery .gallery-btn li.gb-icon4 a:hover{
    background-position: -173px -189px;
}
.gallery .gallery-img img{
    width: 100%;
}

/* 슬릭 갤러리 */
.gallery .gallery-btn button {
    float: left;
    margin: 1px 2px;
    display: block;
    width: 23px;
    height: 23px;
    background: url(img/icon.png) no-repeat;
}
.gallery .gallery-btn .gb-icon1 {
    background-position: -150px -120px;
}
.gallery .gallery-btn .gb-icon2{
    background-position: -150px -143px;
}
.gallery .gallery-btn .gb-icon3{
    background-position: -150px -166px;
}
.gallery .gallery-btn .gb-icon4{
    background-position: -150px -189px;
}
.gallery .gallery-btn .gb-icon1:hover{
    background-position: -173px -120px;
}
.gallery .gallery-btn .gb-icon2:hover{
    background-position: -173px -143px;
}
.gallery .gallery-btn .gb-icon3:hover{
    background-position: -173px -166px;
}
.gallery .gallery-btn .gb-icon4:hover{
    background-position: -173px -189px;
}
/* //슬릭 갤러리 */

/* //갤러리 */

/* 로그인 */
#login-wrap{
    background-color: #f2f4f5;
    padding: 15px;
    margin-bottom: 15px;
}
.login-header{
    overflow: hidden;
    font-size: 12px;
    height: 30px;
}
.login-header .lh-check{
    float: left;
    padding-right: 15px;
}
.login-header .lh-check .input-check{
    vertical-align: -2px;
}
.login-header .lh-ip{
    float: left;
}
.login-header .lh-ip em{
    color: #0093bd;
    text-decoration: underline;
}
.login-content{
    position: relative;
}
.login-content .lc-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 47px;
    background-color: #fff;
    border: 1px solid #bebebe;
}
.login-content .input-text{
    width: 182px;
    height: 16px;
    padding: 2px 5px;
    border: 1px solid #bebebe;
    margin-bottom: 3px;
    background-color: #fff;
}
.login-footer{
    margin-top: 5px;
}
.login-footer li{
    display: inline;
}
.login-footer li a{
    font-size: 12px;
}
/* //로그인 */

/* 팝업 */
.popup h4{
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 4px;
    font-weight: 700;
}
.popup ul{
    overflow: hidden;
}
.popup li{
    float: left;
    width: 93px;
    margin-right: 5px;
}
.popup li.last{
    margin-right: 0;
}
.popup li a img{
    width: 100%;
}
/* //팝업 */

/* 푸터 */
.footer{
    padding: 25px 0;
    text-align: center;
}
.footer ul{
    margin-bottom: 20px;
}
.footer li{
    display: inline;
    padding: 0 7px 0 10px;
    position: relative;
}
.footer li::before{
    content: "";
    width: 1px;
    height: 12px;
    background: #ccc;
    position:absolute;
    left: 0;
    top: 2px
}
.footer li:first-child::before{
    width: 0;
    height: 0;
}
.w3c{
    margin-top: 15px;
}
/* //푸터 */