
/* css 언어설정 */
@charset "utf-8";

/* 스킵 내비게이션 */
#skip{
    position: relative;
}
#skip a{
    /* 절대적인 위치 */
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    background: #333;
    color: #fff;
    line-height: 30px;
    width: 150px;
    text-align: center;
    font-size: 14px;
}
/* //스킵네비게이션 */


/* focus는 마우스가 탭됬을때 */
#skip a:active, #skip a:focus{
    top:0px;
}

/* 레이아웃 */
#header{
    height: 325px;
    /* repeat-x x축으로 반복 */
    background: url(img/header_bg.jpg) center top repeat-x;
}
#footer{
    height: 200px;
    background: #333;
}

/* 컨텐츠 레이아웃 */
#cont_nav { background-color: #f6fdff;}
#cont_tit { background-color: #EAF7FD;}
#cont_ban { background-color: #dceff7;}
#cont_cont { background-color: #f6fdff;}

/* 컨테이너 */
.container{
    width: 990px;
    margin: 0 auto;
    height: inherit;
    background: rgba(255, 255, 255, 0.3);
}
/* //컨테이너 */


/* 헤더 */
.header .header-menu{
    text-align: right;
    font-weight: 600;
}
.header .header-menu a{
    color:#fff;
    padding: 10px 0px 10px 13px;
    /* a태그는 inline 구조라 위아래 padding이 안먹힘 따라서 
    inline-block 구조로 해줘야함 */
    display: inline-block;
}
.header .header-menu a:hover{
    color: #666;
}
.header .header-tit{
    text-align: center;
}
.header .header-tit h1{
    background-color: #4aa8d4;
    font-size: 28px;
    padding: 5px 20px 6px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.header .header-tit a{
    display: inline-block;
    background-color: #2698cb;
    font-size: 40px;
    color:#fff;
    padding: 0 5px;
    margin-top: -5px;
    font-family: 'Nanum Brush Script', cursive;
}
.header .header-icon{
    text-align: center;
    margin-top: 30px;
}
.header .header-icon a{
    width: 60px;
    height: 60px;
    background: url(img/icon.png);
    display: inline-block;
    margin: 0 3px;
}
.header .header-icon a.icon1{
    background-position: 0 0;
}
.header .header-icon a.icon2{
    background-position: 0 -60px;
}
.header .header-icon a.icon3{
    background-position: 0 -120px;
}
.header .header-icon a.icon4{
    background-position: 0 -180px;
}
.header .header-icon a.icon1:hover{
    background-position: -60px 0;
}
.header .header-icon a.icon2:hover{
    background-position: -60px -60px;
}
.header .header-icon a.icon3:hover{
    background-position: -60px -120px;
}
.header .header-icon a.icon4:hover{
    background-position: -60px -180px;
}
/* //헤더 */


/* 전체 메뉴*/

/* float: left로 인한 영역깨짐(height:0) 방지법
    1. 깨지는 영역에 똑같이 float:left를 사용(비추) 왜? 모든 영역에 float 사용해야 됨
    2. float의 성질을 차단하는 clear:both; 를 사용한다. (X) 왜? 어떤 영역이 깨졌는지 찾기 어려움
    3. float을 사용한 상위 박스한테 overflow:hidden을 사용(O) 현재 수준에 맞음
    4. clearfix를 사용 (O) 가장 좋은 방법
*/
.nav{
    overflow: hidden;
    padding: 30px 0;
}
.nav > div {
    float: left;
    width: 40%;
}
/*last-child는 ie9부터 사용 가능*/
.nav > div:last-child{
    width: 20%;
}
.nav > div h3{
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
    font-weight: bold;
}
.nav > div ol{
    overflow: hidden;
}
.nav > div ol li{
    float: left;
    width: 50%;
}
.nav > div.last ol li{
    width: 100%;
}
.nav > div ol li a:hover{
    text-decoration: underline;
}
/* //전체 매뉴 */


/* 타이틀 */
.tit{
    position: relative;
    /* 자식 태그의 포지션 absoulte는 포지션 relative속성을 준 부모 태그가 기준점이 된다. */
    
}
.tit h2{
    font-size: 40px;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;  /* letter-spacing: 글자간의 간격 */
    color: #2c94c4;
    font-family: 'Nanum Brush Script', cursive;
}
.tit .btn{
    position: absolute;
    top: 5px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(img/icon.png) no-repeat 0 -600px;
}
/* //타이틀 */


/* 배너 */
.ban{
    position: relative;
    padding: 24px 0 20px;
}
.ban a.prev {
    left: -80px;
    position: absolute;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(img/icon.png) no-repeat -150px 0;
}
.ban a.prev:hover{
    background-position: -193px 0;
}
.ban a.next{
    right: -80px;
    position: absolute;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url(img/icon.png) no-repeat -150px -43px;
}
.ban a.next:hover{
    background-position: -193px -43px;
}
.ban ul{
    overflow: hidden;
}
.ban ul li{
    float: left;
    width: 330px;

}
    /* :last-child와 :nth-child는 ie9부터 적용 가능 */
    /* 
        .ban ul li:last-child{
        text-align: right;
        }
        .ban ul li:nth-child(2){
        text-align: center;
        } 
    */
.ban ul li.ban_img1{
    text-align: left;
}
.ban ul li.ban_img2{
    text-align: center;
}
.ban ul li.ban_img3{
    text-align: right;
}
.ban ul li img{
    border: 4px solid #dcdcdc;
}
.ban ul li img:hover{
    border-color: #98bcdc;
}
/* //배너 */


/* 컨텐츠 */
.cont{
    overflow: hidden;
    padding-top : 30px;
}
.cont .column {
    width: 289px;
    height: 363px;
    float: left;
    margin: 0 30px 30px 0;
    padding-right: 30px;
    position: relative;
}
.cont .col1{
    border-right: 1px solid #c8c8c8;
}
.cont .col2{
    border-right: 1px solid #c8c8c8;
}
.cont .col3{
    margin-right: 0;
    padding-right: 0;
}
.cont .col4{
    border-right: 1px solid #c8c8c8;
}
.cont .col5{
    border-right: 1px solid #c8c8c8;
}
.cont .col6{
    margin-right: 0;
    padding-right: 0;
}
.cont .column .ico_img{
    display: block;
    width: 60px;
    height: 60px;
    background: url(img/icon.png);
    position: absolute;
    left: 0;
    top: 0;
}
.cont .column .ico_title{
    padding-left: 70px;
    font-size: 16px;
    color: #2c94c4;
    font-weight: bold;
}
.cont .column .ico_desc{
    padding-left: 70px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.cont .col1 .ico_img{
    background-position: 0px -240px;
}
.cont .col2 .ico_img{
    background-position: 0px -300px;
}
.cont .col3 .ico_img{
    background-position: 0px -360px;
}
.cont .col4 .ico_img{
    background-position: 0px -420px;
}
.cont .col5 .ico_img{
    background-position: 0px -480px;
}
.cont .col6 .ico_img{
    background-position: 0px -540px;
}
.cont .col1 .ico_img:hover{
    background-position: -60px -240px;
}
.cont .col2 .ico_img:hover{
    background-position: -60px -300px;
}
.cont .col3 .ico_img:hover{
    background-position: -60px -360px;
}
.cont .col4 .ico_img:hover{
    background-position: -60px -420px;
}
.cont .col5 .ico_img:hover{
    background-position: -60px -480px;
}
.cont .col6 .ico_img:hover{
    background-position: -60px -540px;
}
/* //컨텐츠 */


/* 게시판 */
.notice{
    position: relative;
}
.notice h4 {
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}
.notice ul li {
    /* li 한줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* li앞에 점 만들기 */
    background: url(img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
}
.notice ul li a {
    font-size: 12px;
}
.notice a.more{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(img/icon.png) -150px -90px;
    width: 17px;
    height: 17px;
}
/* //게시판1 */

/* 게시판2 */
.notice2 {
    position: relative;
    margin-top: 15px;
}
.notice2 h4{
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}
.notice2 li{
    overflow: hidden;
    background: url(img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
}
.notice2 li a{
    font-size: 12px;
    float: left;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice2 li span{
    float: right;
    width: 30%;
    text-align: right;
}
.notice2 a.more{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(img/icon.png) -150px -90px;
    width: 17px;
    height: 17px;
}
/* //게시판2 */

/* 게시판3 */
.notice3{
    position: relative;
}
.notice3 h4{
    font-size: 14px;
    color: #0093bd;
    padding-bottom: 3px;
    font-weight: bold;
}

.notice3 li{
    position: relative;
    padding: 8px 0 14px 60px;
}

.notice3 li a img{
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #0093bd;
}
.notice3 li a strong{
    display: block;
    /* 한 줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice3 li a span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.notice3 a.more{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(img/icon.png) -150px -90px;
    width: 17px;
    height: 17px;
}
/* //게시판3 */